body {
	margin:0;
     font-family: 'Raleway', sans-serif;
     font-size: 14px;
     color:#6c7279;
     background-color: #fff;
     -webkit-font-smoothing:antialiased;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

/*CONTAINER________________________________*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}



/*HEADER________________________________*/
.header {
	width: 100%;
	height: 100px;

	position: absolute;
	top:0;
	left: 0;
	z-index: 1000;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #4f5167;
	padding: 35px 0px; 
	align-items: center;

}


/*NAV________________________________*/
.nav {
	display: flex;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav_link {
    margin-left: 50px;
	color: white;
	text-decoration: none;
	opacity: .75;

	transition: opacity .2s linear;
}

.nav_link:first-child {
	margin-left: 0;
}

.nav_link:hover {
	opacity: 1;
}


/*INTRO________________________________*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-top: 100px;
	height: 750px;
	background: #30344e url("img/introbg.jpg") center no-repeat;
	background-size: cover;
}

.intro_inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
		text-align: center;
}

.intro_title {
	margin: 0 0 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	line-height: 1.1;
	color: #fff;
	font-weight:700;
	text-transform: uppercase;

}

.intro_subtitle {
	margin-bottom: 60px;
	font-size: 22px;
	color: #fff;
	line-height: 1.5;
	font-weight: 400;

}



/*BUTTON________________________________*/
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 14px 40px;

	border-radius: 2px;
	font-family: font-family: 'Raleway', sans-serif;
	border: 0;
	cursor: pointer;

	font-size: 13px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	transition: background .1s linear;
}


.btn--red {
	background-color: #e84545;
}

.btn--red:hover {
	background-color: #dd3434;
}

.btn--long {
	width: 280px ;

}

/*FEATURES________________________________*/

.features {
	display: flex;
	flex-wrap: wrap; 
	margin: 95px 0px;
}

.features_item {
	width: 33.33333%;
	text-align: center;
	padding: 0 40px;
	margin: 25px 0px;
}

.features_icon {
	margin: 0 0 25px 0;
}


.features_title{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.features_text {
	font-size: 14px;
	line-height: 1.5;
	color: #6c7279;
}

/*WORKS________________________________*/
.works {
	display: flex;
	flex-wrap: wrap;
}

.works_item {
	width: 25%;
	height: 350px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

.works_item:hover .works_content {
	opacity: 1;
}

.works_photo {
	min-width: 100%;

	position: absolute;
	top:50%;
	left: 50%;
	z-index: 1;

	transform: translate3d(-50%,-50%,0);
}


.works_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;

	background-color: rgba(232,69,69, .9);
 
	opacity: 0; 

	text-align: center;

	position: absolute;
	top:0;
	left: 0;
	z-index: 2;

	transition: opacity .2s linear;

}


.works_title {
	margin-bottom: 5px;

     font-size: 14px;
     font-weight: 700;
     color:#fff;
     text-transform: uppercase;
}

.works_text {
	font-size: 14px;
	color: #fff;

}

/*TEAM________________________________*/

.team {
	margin: 100px 0 70px;
}

.team_inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

}

.team_item {
	width: 25%;
	padding: 0 15px;
	margin-bottom: 30px;

}

.team_photo {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.team_name {
	margin-bottom: 8px;
	font-size: 22px;
	color: #2d3033;
}

.team_prof {
	margin-bottom: 15px;
	font-size: 13px;
	color: #e84545;
	text-transform: uppercase;
}

.team_text {
	font-size: 14px;
	line-height: 1.5;
	color: #6c7279;
	margin-bottom: 20px;
}


/*Social________________________________*/
.social {
	display: flex;
}

.social--footer {
	justify-content: center;
}


.social_item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;

	margin-right: 4px;

	background-color: #fff;
	border: 1px solid #e8ecee;

	transition: background-color .2s linear;
}

.social_item:hover {
	background-color: #e8ecee;
}

.social_item:hover .social_icon {
	fill: #000;
}

.social--footer .social_item {
	background-color: transparent;
	border-width: 2px;
	border-color:#fff;
	border-radius: 2px;
}

.social--footer  
.social_item:hover {
	background-color: #fff;
}

.social_icon {
	display: block;
	height: 18px;
	fill: #c6cacc;

	transition: fill .2s linear;
}

.social--footer .social_icon {
	fill: #fff;

}

/*REVIEWS________________________________*/

.reviews {
	overflow: hidden;
	background-color: #53354a;
}
.reviews_item {
	display: flex;
	flex-wrap: wrap;
}

.reviews_photo {
	width: 50%;
	height: 500px;
	position: relative;
}
.reviews_img {
	position: absolute;
	top:50%;
	right: 0;
	z-index: 1;

	transform: translateY(-50%);
}

.reviews_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	padding-left: 80px;

}

.reviews_text {
	margin-bottom: 20px;

	font-family: 'Cardo', sans-serif;
	font-size: 36px;
	font-style: italic;
	line-height: 1.2;
	color: #fff;
}

.reviews_author {
	font-size:13px;
	text-transform: uppercase;
	color: #ffff;
	font-weight: 700;


}


/*DOWNLOAD________________________________*/
.download {
	margin: 90px 0;
	text-align: center;
}
.download_title {
	margin-bottom: 10px;
font-size: 28px;
font-family: 'Raleway', sans-serif;
color: #2d3033;
font-weight: 300;
}

.download_text {
	margin-bottom: 30px;
font-size: 13px;
font-family: 'Raleway', sans-serif;
color: #2d3033;
font-weight: 700;
text-transform: uppercase;
}

/*FOOTER________________________________*/	
.footer {

	background-color: #3a3e64;
}

.footer_inner {
	padding: 70px 0 ;
	display: flex;
	flex-wrap: wrap;
}

.footer_block {
	width: 33.33333%;
	padding: 0 15px;
	text-align: center;
}

.footer_title {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
}

.footer_adress {
	 font-size: 14px ;
	 line-height: 1.5;
	 font-style: normal;
	 font-weight: 400;
	 color: rgba(255,255,255, .5);
}

.footer_text {
	font-size: 14px ;
	 line-height: 1.5;
	 font-weight: 400; 
	 color: rgba(255,255,255, .5);
}

/*copyright________________________________*/
.copyright {
	padding: 20px 0;
	background-color: #313454;
}

.copyright_text {
	text-align: center;
	color: #808080;
	font-size: 14px;
	line-height: 1.5;

}

.copyright_text span {
	color: #fff;
}


/*burger*/
.burger {
	display: none;
	background: none;
	padding: 15px 0;

	border:0;
	cursor: pointer;
}

.burger_item {
	display: block;
	width: 30px;
	height: 3px;

	background-color: #fff;
	font-size: 0;
	color:transparent;

	position: relative;
}

.burger_item:before,
.burger_item:after 		{
	content: "";
	width: 100%;
	height: 100%;

	background-color: #fff;
	cursor: pointer;

	position: absolute;
	left: 0;
	z-index: 1;
}

.burger_item:before {
	top:-8px;
}

.burger_item:after 	{
	bottom: -8px;
}

/*MEDIA________________________________*/
@media (max-width: 1300px) {
	/*works*/
	.works_item {
		width: 50%;
	}

}



@media (max-width: 991px) {

	/*reviews*/
	.reviews_photo {
		margin: 15px 0 40px;
		width: 100%;
		overflow: hidden;
	}
	.reviews_content {
		width: 100%;
		padding-left: 0px;
		padding-bottom: 40px;
	}

	/*NAV*/
	.nav {
		display: none;
	}

	.burger {
	display: block;
	}

	/*INTRO*/
	.intro_title {
		font-size: 40px;
	}

		/*features*/
	.features_item {
		width: 50%;
	}

	/*TEAM*/ 

	.team_item {
		width: 50%;
		text-align: center;
	}
	.team_photo {
	margin-left: auto;
	margin-right: auto;
	}
	.social {
		justify-content: center;
	}

}

@media (max-width: 767px) {
	
	/*INTRO*/
	.intro {
		height: auto;
		padding-top: 130px;
		padding-bottom: 30px;
	}

	.intro_title {
		font-size: 30px;
	} 

	.intro_subtitle {
		margin-bottom: 30px;
		font-size: 16px;
	}

			/*features*/
	.features_item {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

		/*works*/
	.works_item {
		width: 100%;
		height: 300px;
	}

	.features {
		margin: 40px 0px;
	}


	/*TEAM*/ 

	.team_item {
		width: 100%;
		text-align: center;
	}

	.team_photo {
	margin-left: auto;
	margin-right: auto;
	}
	.social {
		justify-content: center;
	}

	.team {
		margin: 60px 0 30px;
	}
	/*reviews*/
	.reviews_text {
		font-size:25px;
	}


	/*btn*/
	.btn--long {
		min-width: 260px;
	}

	/*download*/
	.download {
		margin:50px 0;
	}
	.download_title {
		font-size: 24px;
	}

	/*footer*/
	.footer_block {
		width: 100%;
		margin-bottom: 30px;
		padding-left: 0;
		padding-right: 0;
	}
	.footer_block:last-child {
		margin-bottom: 0;
	}
	.footer_inner {
		    padding: 30px 0;
	}
}


@media (max-width: 414px) { 

	.reviews_img {
		right: -120px;
	}

}